html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  a {
    text-decoration: none !important;
    outline: none !important;
  }

  ul {
    list-style-type: none;
  }

  
  .header {
    background-color: white;
    padding: 0.8em 0;
    z-index: 999;
    color: black;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 15%);
  }
  
  .header-container {
    width: 100%;
    position: relative;
    display: block;
  }
  
  .nav-container, .lab-container {
    padding-left: 20px;
    padding-right: 20PX;
    margin-left: auto;
    margin-right: auto;
    max-width: 990px;
  }
  
  .hero-bg {
    background-color: #0B0B45;
    height: 250px;
    position: relative;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 66px;
  }
  
  .intro-container {
    color: white;
  }
  
  .nav-link:focus, .nav-link:hover {
    color: #522D80 !important;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: black;
  }
  
  .active, .navbar-brand {
    color: #522D80 !important;
  }
  
  .navbar-toggler {
    color: black;
  }
  
  .nav-link {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  
  .nav-item {
    font-weight: 300;
  }
  
  .layout {
    position: relative;
  }
  
  .expand {
    visibility: visible !important;
    transition-delay: 0s !important;
  }
  
  .bd-overflow {
    overflow-y: hidden;
  }
  
  .hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    font-weight: 600;
  }
  
  .lab-container {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    margin-bottom: 3em;
  }
  
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .brief-intro {
    padding: 5px;
  }
  
  .title {
    margin-bottom: 10px;
  }
  
  .publication-bg, .home-bg, .lab-bg, .team-bg {
    background: #fbfbfd;
  }
  
  .publication-bg >.lab-container > .title, .home-bg >.lab-container > .title {
    margin-top: 30px;
  }
  
  .card {
    margin-bottom: 30px;
    border-radius: 0.5rem;
  }
  
  .home-bg >.lab-container > span {
    margin-bottom: 20px;
  }
  
  .home-bg .lab-container, .lab-bg .lab-container, .team-bg .lab-container {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .home-bg, .lab-bg, .publication-bg, .team-bg {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  
  .footer {
    color: #777;
  }
  
  .line {
      border-top: 1px solid #BEBEBE;
      padding-top: 1.5em;
      font-size: 0.9em;
  }
  
  .custom-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .home-bg .row {
    flex-direction: column;
  }
  
  .home-bg .card {
    max-width: 320px;
    box-shadow: 0 4px 8px 0 rgb(17 22 26 / 16%), 0 4px 8px 0 rgb(17 22 26 / 8%), 0 8px 16px 0 rgb(17 22 26 / 4%);
  }
  
  .custom-card .btn {
    color: #0d6efd;
    border: transparent;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgb(17 22 26 / 16%), 0 4px 8px 0 rgb(17 22 26 / 8%), 0 8px 16px 0 rgb(17 22 26 / 4%);
  }
  
  .lab-bg .title {
    margin-bottom: 20px;
  }
  
  .team-bg .title {
    margin-top: 15px;
    margin-bottom: 50px;
  }
  
  .team-bg .col {
    margin-bottom: 50px;
    margin-top: 0px;
  }
  
  .team-bg .card {
    margin-bottom: 0px;
  }
  
  .lab-items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .lab-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #DDD;
    background-color: #f0f3f7;
    margin: 0 0 30px 0;
    height: 100%;
    min-height: 350px;
  }
  
  .lab-card {
    width: 50%;
    border: 1px solid #0d6efd;
  }

  .lab-item-content-container {
    margin-top: 40px;
  }

  .lab-item-content {
    padding: 0 1.7em;
  }

.center-text {
  text-align: center;
}

  img {
  width: 100%;
  }
  
  .lab-info-container {
  margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
  }
  
  .lab-title {
  padding-top: 20px;
  padding-bottom: 10px;
  }
  
  .lab-title h2 {
  font-size: 21px;
  line-height: 1.2em;
  }
  
  .lab-brief-intro {
  font-size: 1em;
  }
  
  .labs h4 {
    margin-bottom: 10px;
  }

  .labs a {
    padding: 10px;
  }

  .lab {
    margin-left: 1em;
  }

  .lab-level li {
    padding: 10px;
  }

  @media screen and (max-width: 575px) {
    .nav-link {
      width: auto;
      max-width: none;
      font-size: 18px;
      line-height: 1.3;
      font-weight: 400;
      position: relative;
      letter-spacing: 0.02em;
      padding: 15px;
    }
  }
  
  @media screen and (min-width: 576px) and (max-width: 950px) {
    .nav-link {
      padding-left: 9px !important;
      padding-right: 9px !important;
    }
  }
  
  @media screen and (max-width: 575px) {
    .nav-list {
      max-width: 650px;
      display: block;
      position: absolute;
      top: 4em;
      bottom: 0;
      right: 0;
      left: 0;
      height: 100vh;
      margin: 0 auto;
      padding: 45px 40px 8px;
      overflow-y: auto;
      visibility: hidden;
      transition: visibility 0s linear 0s;
      z-index: 1;
      background: white;
    }
  }
  
  @media screen and (min-width: 800px) {
    .hero-bg {
      height: 300px;
    }
    .hero-title {
      font-weight: 700;
      font-size: 1.5rem;
    }
  }
  
  @media screen and (min-width: 950px) {
    .hero-title {
      font-weight: 800;
      font-size: 1.6rem;
    }
  }
  
  @media screen and (min-width: 760px) {
    .home-bg .row {
     flex-direction: row;
    }
  
    .custom-card {
      width: 50%;
    }
  }
  
  @media screen and (min-width: 890px) {
    .home-bg .row :nth-child(even) {
      justify-content: flex-start;
    } 
  }
  
  @media screen and (min-width: 730px) {
    .lab-item {
      width: 45%;
      margin: 0 30px 30px 0;
    }
  }
  
  @media screen and (min-width: 990px) {
    .lab-item {
      width: 30%;
    }
  }